*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #2bc0e4, #eaecc6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.entries-container{
  display: grid;
  justify-content: space-around;
  margin-top: 10px;
  grid-template-columns: repeat(3,30vw);
}

